body{
  display: inline;
  background-color: black;
  color: white;
}


.player{
  padding: 50px;
  width: 50%;
  text-align: center;
}

canvas{
  vertical-align: top;
}

#queue{
  padding-left: 50px;
  padding-top: 30px;
}

#hold{
  padding-right: 50px;
}

#board{
  border-color: grey;
  border-style: solid;
}
